*{
    margin: 0;
    padding: 0;
}

body{
    font-family:  'courier new', Times, serif;
    position: relative;
    height: 100%;
    width: 100%; 
    min-height: 100vh;
}
/*Navbar*/
header{
    text-align: center;
    width: 100vw;
    height: 80px;
    background: #A7C7E7;
    position: fixed;
    outline: outset rgb(57, 57, 255);
    z-index: 2;
}
nav{
    display: flex;
    line-height: 80px;
}
nav a{
    flex-shrink: 2;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 25px;
    padding: 0px 20px;
    color: white;
    margin: 0 auto;
}
nav a:hover{
    background-color: white;
    color: black;  
}
/*Scrollable front page text and image*/
.title{
    text-align: center;
    width: 100%;
    height: auto;
    top: 25px;
    position: relative;
    background: #f3f9ff;;
    overflow: hidden;
    z-index: 0;
}
.title h2{
    font-size: 25px;
    padding-top: 300px;
    font-weight: 400;
    padding-bottom: 300px;
    color: black;
    text-shadow: 5px 1px 2px rgb(250, 250, 250);
}
.title p{
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 150px;
    letter-spacing: 5;
    outline: black;
}

/*intro to website features*/
#description{
    position: relative;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}
dt{
    font-size: 50px;
    margin-bottom: 25px;
}
ol{
    padding-top: 17px;
}
dd{
    margin-bottom: 25px;
}

#bottomspace{
    padding-bottom: 25px;
}
.sectionBox{
    border: solid 2px;
    padding: 5%;
    background-color: white;
    margin-bottom: 20px;
}
/*Footer with contact info*/
.bottom{
    text-align: center;
    position: absolute;
    height: 80px;
    width: 100%;
    bottom: 0;
    background: #A7C7E7;
    outline: outset 2px rgb(57, 57, 255);
    z-index: 2;
}
.bottom h2{
    color: black;
    padding-top: 6px;
    font-weight: 400;
    padding-bottom: 0px;
}
.bottom p{
    font-size: 18px;
}

